.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.container h1 {
  background-color: var(--tertiary-color);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 7rem;
}

.container p {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--text-color);
  border-radius: 60px;
  border: 2px solid var(--text-color);
  transition: all var(--transition);

  &:hover {
    background-color: transparent;
    color: var(--text-color);
  }
}
